/* 
    Document   : media
    Created on : Sep 29, 2016, 11:46:35 AM
    Author     : Salih
    Description:
        Purpose of the stylesheet follows.
*/

@media (min-width: 768px) {

}
@media (max-width: 768px) {
	/* --------------------------------------------
        TYPOGRAPHY
    -------------------------------------------- */
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
    }
    h4 {
        font-size: 18px;
        line-height: 24px;
    }
    h5 {
        font-size: 16px;
        line-height: 24px;
    }
    h6 {
        font-size: 14px;
        line-height: 24px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
    a {
        font-size: 14px;
        line-height: 18px;
    }
    #header .nav,
    #header .nav > li{
        display: block;
    }
    #header .nav > li > a{
        padding: 10px 0;
    }

    #header .socials{
        text-align: center;
    }
    #header .socials li{
        display: inline-block;
    }
    #header .nav > li{
        margin: 0;
    }
	body#footerbottom #wrapper-page {
        min-height: auto;
        height: auto !important;
        margin: 0;
        border-bottom: 0;
    }
    body#footerbottom #footer {
        display: block;
        clear: both;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
	/* --------------------------------------------
        TYPOGRAPHY
    -------------------------------------------- */
    h1 {
        font-size: 30px;
        line-height: 36px;
    }
    h2 {
        font-size: 26px;
        line-height: 30px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    h4 {
        font-size: 18px;
        line-height: 24px;
    }
    h5 {
        font-size: 16px;
        line-height: 24px;
    }
    h6 {
        font-size: 14px;
        line-height: 24px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
    a {
        font-size: 14px;
        line-height: 18px;
    }

}
@media (min-width: 992px) and (max-width: 1200px) {
	/* --------------------------------------------
        TYPOGRAPHY
    -------------------------------------------- */
    h1 {
        font-size: 32px;
        line-height: 38px;
    }
    h2 {
        font-size: 28px;
        line-height: 32px;
    }
    h3 {
        font-size: 26px;
        line-height: 30px;
    }
    h4 {
        font-size: 20px;
        line-height: 26px;
    }
    h5 {
        font-size: 18px;
        line-height: 26px;
    }
    h6 {
        font-size: 16px;
        line-height: 26px;
    }
    p {
        font-size: 16px;
        line-height: 26px;
    }
    a {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (min-width: 1200px) {

}