/* --------------------------------------------
    TYPOGRAPHY
-------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Biryani:200,300,400,600,700,800,900');
h1 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h6 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
a {
    color: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: inherit;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,p a {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
strong {
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
em {
    font-style: italic;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
ul, ol {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}
ul > li {
    list-style: disc;
}
ol > li {
    list-style: decimal;
}
ul li, ol li {
    font-size: inherit;
    line-height: inherit;
    font-weight: 400;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
a:hover, a:focus {
    text-decoration: none;
    outline-offset: 0px;
    outline: transparent;
}
img, input {
    border: 0 none;
    outline: 0 none;
}
p > img {
    float: left;
    margin: 0 15px 5px 0;
    height: auto;
    width: auto;
    max-width: 100%;
}
hr {
    height: 1px;
    background: #d1d1d1;
    margin: 0 0 20px 0;
    border: 0 none;
}
iframe {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
}
table tr td {
    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
    padding: 5px 10px 5px 0px;
    vertical-align: middle;
}
table tr th {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    padding: 5px 10px 5px 0px;
    vertical-align: middle;
}
/* --------------------------------------------
    Form
-------------------------------------------- */
form {
    width: 100%;
    display: block;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
label {
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
form input {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 10px 15px 10px 15px;
    border: 1px solid #acacac;
    background: 0 none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
form textarea {
    display: block;
    width: 100%;
    min-height: 150px;
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 15px;
    resize: none;
    font-size: 14px;
    background: 0 none;
    border: 1px solid #acacac;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
form input[type="submit"] {
    width: auto;
    height: auto;
    margin: 0 0 20px 0;
    padding: 10px 20px 10px 20px;
    border: 1px solid #acacac;
    background: 0 none;
    float: right;
    line-height: normal;
}
form input:hover, form input:focus, form textarea:hover, form textarea:focus {
    border: 1px solid #f2f2f2;
}
form input[type="submit"]:hover {
    border: 1px solid #acacac;
}
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
    opacity: 1;
}
::-moz-placeholder {
    color: #999;
    opacity: 1;
}
:ms-input-placeholder {
    color: #999;
}
html {
    height: 100%;
}
body {
    color: #393949;
    font-family: 'Biryani', sans-serif;
    font-size: 18px;
    background: #ffffff;
}
@media print {
    body {width:1200px;}
}
body#footerbottom {
    height: 100%;
    min-height: 100%;
}
body#footerbottom #wrapper-page {
    min-height: 100%;
    height: 100%;
    height: auto !important;
    margin: 0 auto -100px;
    border-bottom: 100px solid transparent;
}
body#footerbottom #footer {
    display: block;
    clear: both;
    height: 100px;
}
body #wrapper-page .container .my-btn,
body #footer .container .my-btn{
    font-size: 22px;
    border: 1px solid;
    padding: 0 40px;
    line-height: 48px;
}
/* --------------------------------------------
    Bug
-------------------------------------------- */
/*  -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;*/
/*html.fancybox-lock, html.fancybox-lock body{ overflow: visible !important; }*/

.fancybox-margin { margin-right: 17px !important; }
#loadingg {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 9999999;
}
#loadingg img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
}
#wrapper-page {
    position: relative;
    overflow: hidden;
}
/* --------------------------------------------
    Header
-------------------------------------------- */
#header {
    display: block;
    clear: both;
    position: relative;
    padding: 10px 0 0;
}
#header a.logo {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#header a.logo img {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#header .navbar {
    margin: 0 0 0 0;
}
#header .nav {
    display: inline-block;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    z-index: 999;
    font-size: 0;
    float: none;
}
#header .nav > li {
    display: inline-block;
    margin: 0 15px;
    padding: 0 0 0 0;
    list-style: none;
    background: none;
}
#header .nav > li > a {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 25px 0;
    text-transform: uppercase;
    position: relative;
}
#header .nav:not(.socials) > li > a::after{
    background-color: #393949;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    height: 0px;
    width: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#header .nav:not(.socials) > li > a.active, 
#header .nav:not(.socials) > li > a:hover {
    background-color: transparent;
    color: inherit;
    font-weight: 700;
}
#header .nav > li > a.active::after, 
#header .nav > li > a:hover::after {
    height: 4px;
}
#header .navbar-toggle{
    border-color: #393949;
}
#header .navbar-toggle .icon-bar{
    background-color: #393949;
}
#header .nav.socials > li > a.my-btn{
    margin: 10px 0 0;
    background-color: #393949;
    color: #fff;
}
#header .nav.socials > li:last-child{
    margin-right: 0;
}
/* --------------------------------------------
    Banner
-------------------------------------------- */
#banner {
    position: relative;
}
/*#banner #supersized {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
#banner #supersized li {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}*/
/* --------------------------------------------
    Content
-------------------------------------------- */
#content {
    position: relative;
}
/* --------------------------------------------
    Footer
-------------------------------------------- */
#footer {
    position: relative;
    background-color: #393949;
    color: #fff;
}
#footer .navf {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#footer .navf > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}
#footer .navf > li > a {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .navf > li > a:hover, #footer .navf > li > a.active {
    color: #f2f2f2;
}
#footer .design_by {
    margin: 0;
    padding: 0;
    text-align: right;
}
#footer .design_by li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}
#footer .design_by li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .design_by li a:hover {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -o-opacity: 0.6;
    -ms-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity=60);
}